<template name="endcardEdit">
    <form class="main form page">
      <div class="form-group">
          <label class="control-label" for="text">Texte</label>
          <div class="controls">
              <input name="text" id="text" type="text" value="{{text}}" placeholder="Ecrivez votre fin" class="form-control"/>
            </div>
        </div>
      <input type="submit" value="Modifier" class="btn btn-primary"/>
			<hr/>
			<a class="btn btn-danger delete" href="#">Supprimer la carte</a>
    </form>
</template>
